<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars" (click)="showDetails(car)">
        <td>{{ car.name }}</td>
        <td>{{ car.color }}</td>
      </tr>
    </tbody>
  </table>
  
  <div *ngIf="selectedCar">
    <h3>Details for {{ selectedCar.name }}</h3>
    <p><strong>Name:</strong> {{ selectedCar.name }}</p>
    <p><strong>Color:</strong> {{ selectedCar.color }}</p>
    <p><strong>Date of Manufacture:</strong> {{ selectedCar.dateOfManufacture }}</p>
    <p><strong>Country of Manufacture:</strong> {{ selectedCar.countryOfManufacture }}</p>
  </div>